<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<meta name="description" content="{{summary}}">
	</head>

	<body>
		<pogon_component name="postTopBar.component.html"></pogon_component>
		<h1>{{title}}</h1>
		{{#if isPreview}}
			{{#if isCurrent}}
				<em>Preview, last edited at: <z3-date>{{updated}}</z3-date></em>
			{{else}}
				<em>Old version edited at: <z3-date>{{updated}}</z3-date></em>
			{{/if}}
			{{#if isLoggedIn}}
				<form method="POST">
					<!-- Prevent Chrome from auto-filling previewPW -->
					<input id="username" style="display:none" type="text" name="fakeusernameremembered">
					<input id="password" style="display:none" type="password" name="fakepasswordremembered">
					<label>Preview password:
						<input
							type="password"
							id="previewPW"
							name="previewPW"
							value="{{previewPassword}}"
							class="showHidePasswordInput"
							autocomplete="new-password">
					</label>
					<input type="hidden" name="setPassword" value="true">
					<input type="submit">
					(<a class="showHidePasswordLink">Show / Hide Password</a>)
				</form>
				<script src="/javascripts/showHidePassword.js"></script>
			{{/if}}
		{{else}}
			{{#if isBlogPost}}
				<em>
					Published: <z3-date>{{publishedAt}}</z3-date>
					{{#if republishedAt}}
						<small>(Updated: <z3-date>{{republishedAt}}</z3-date>)</small>
					{{/if}}
				</em>
				<pogon_component name="sharing.component.html"></pogon_component>
			{{/if}}
		{{/if}}
		<div id="blogcontent">{{{content}}}</div>
		<pogon_component name="sharing.component.html"></pogon_component>
		{{#unless isBlogPost}}
			<hr />
			<em>
				Created: <z3-date>{{publishedAt}}</z3-date>
				{{#if republishedAt}}
					<small>(Updated: <z3-date>{{republishedAt}}</z3-date>)</small>
				{{/if}}
			</em>
		{{/unless}}
	</body>

</html>
