<!DOCTYPE html>
<html pogon-template="z3template.html">
    <head>
        <title>Configuration Page</title>
        <script src="/javascripts/changePassword.js"></script>
    </head>

    <body>
        <h1>Change Password</h1>

        {{#if passwordUpdated}}
            <span style="color: var(--ansi_bright_white);">Password Updated!</span>
        {{/if}}

        {{#if changeDefaultPassword}}
            <span style="color: var(--ansi_bright_white);">Please set a password to continue</span>
        {{/if}}

        <form method="post">
            <label>Current Password:&nbsp;<input type="password" id="currentPassword" name="currentPassword"></label>
            {{#if wrongPassword}}         
                <span class="wrongPassword">Wrong Password</span>
            {{/if}}
            {{#if defaultPassword}}         
                <span class="wrongPassword">Do not use the default password</span>
            {{/if}}
            <br />
            <label>New password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="newPassword" name="newPassword"></label><br />
            <label>Confirm password:&nbsp;<input type="password" id="confirmPassword" name="confirmPassword"></label>
            <span id="passwordsDontMatch" style="color: var(--ansi_bright_red);" hidden>Passwords must match</span>
            <br />
            <input type="submit" id="submitButton" value="Change Password" disabled>
        </form>
</body>
</html>