<!DOCTYPE html>
<html pogon-template="z3template.html">
    <head>
        <title>Configuration Page</title>
        <link rel="stylesheet" href="/stylesheets/config.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>
        <script src="/javascripts/config.js"></script>
    </head>

    <body>
        <h1>Configuration</h1>

        <form method="post">
            {{#with _locals}}
                <label>Title: <input type="text" id="title" name="title" value="{{config.title}}"></label>
                <z3-unpublished id="titleEmpty">X</z3-unpublished><br />
                
                <label>Author: <input type="text" id="author" name="author" value="{{config.author}}"></label>
                <z3-unpublished id="authorEmpty">X</z3-unpublished><br />

                <div>
                    Profile picture: <br />
                    <img id="currentAvatar" src="/images/avatar.png" {{#unless ../isAvatarConfigured}}hidden{{/unless}}><br />
                    Set profile picture:
                    <z3-unpublished id="profilePictureEmpty">X</z3-unpublished>
                    <a>
                        <input type="file" id="uploadAvatar" value="Choose a file" accept="image/*" />
                    </a>
                </div>
                <div id="surroundCropAvatar">
                    <div id="cropAvatar"></div><br />
                    <a>
                        <input type="button" id="submitAvatar" value="Upload" />
                    </a> <span id="uploadStatus"></span>
                </div><br />
                
                <a id="displaySelectTemplate">Select your template &#x25BA;</a>
                <a id="hideSelectTemplate">Select your template &#x25BC;</a>
                <z3-unpublished id="templateEmpty">X</z3-unpublished>
            {{/with}}

            <div id="templateSelector">
                {{#each templates}}
                    <br />
                    <label>
                        <input
                            class="templateRadioButton"
                            type="radio"
                            name="template"
                            value="{{linkPath}}"
                            pogon-checked="{{../config.template}}">
                        {{shortName}}:
                        {{#if isBuiltIn}}
                            (Built-in)
                        {{else}}
                            (Custom)
                        {{/if}}
                    </label>
                    <br />
                    <a href="/config/{{linkPath}}" target="_blank">Full preview of {{shortName}}</a>
                    <div class="previewWrap">
                    <iframe
                        class="previewFrame"
                        src="/config/{{linkPath}}"
                        title="Preview {{shortName}}"></iframe>
                    </div>
                    <br />
                    <br />
                    <pogon_component name="hr.component.html"></pogon_component>
                {{/each}}
            </div>
            <br />
            <br />
            
            {{#with _locals}}
                <label>Publish: <input type="checkbox" id="publish" name="publish" {{#unless config.private}}checked{{/unless}} disabled></label>
                <z3-unpublished id="publishRequirements">Before publishing your blog, you must set the title, author, profile picture, and template</z3-unpublished>
                <z3-unpublish id="unpublishWarning">Warning: Unchecking this will disable your blog!</z3-unpublish><br />

                <pogon_component name="hr.component.html"></pogon_component><br />

                <label>Show Z3 copyirght in footer: <input type="checkbox" id="z3_cr_in_footer" name="z3_cr_in_footer" {{#if config.z3_cr_in_footer}}checked{{/if}}></label><br />
                <label>Override template: <input type="text" value="{{config.overrideTemplate}}" id="overrideTemplate" name="overrideTemplate"></label>
                <z3-instructions>Set this value to completely edit the HTML and CSS provided with z3. To do this, copy the "/views/template.html" file and specify
                the name of your copy here. (Please don't edit "/views/template.html" or other files in that folder, as it will cause problems with updates.)</z3-instructions><br />

                <pogon_component name="hr.component.html"></pogon_component>
                <label>HTML for &lt;head&gt;<br />
                    <textarea name="headHtml" rows="6" cols="80">{{config.headHtml}}</textarea>
                </label>
                <br /><z3-instructions>Text placed here will be included in the &lt;head&gt; tag. Useful for analytics, trackers, ad networks, ect.</z3-instructions>
                <br />
                <br />

                <label>HTML after &lt;footer&gt;<br />
                    <textarea name="footerHtml" rows="6" cols="80">{{config.footerHtml}}</textarea>
                </label>
                <br /><z3-instructions>Text placed here will be included after the &lt;footer&gt; tag. Useful for analytics, trackers, ad networks, ect.</z3-instructions>
                <br />
                <br />

                <label>Search engine: <input type="text" value="{{config.searchUrl}}" id="overrideTemplate" name="searchUrl" size="100"></label>
                <z3-instructions>Search engine URL, use %query% for the query, and %host% for the host. Defaults to: {{config.defaultSearchUrl}} when empty</z3-instructions>
                <br />
                <br />

                <input id="submit" type="submit" value="Update">
            {{/with}}
        </form>
    </body>
</html>