<!DOCTYPE html>
<html pogon-template="templateHeaderless.html">
    <head>
        <title>Editing: {{title}}</title>
        <script>
            const postId = '{{postId}}';
        </script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.4.25/jodit.min.css">
        <script src="/javascripts/edit.js"></script>
        <link rel="stylesheet" href="/stylesheets/edit.css">
    </head>

    <body>
        <pogon_component name="postTopBar.component.html"></pogon_component><br />

        <label>
            Title: &nbsp;<input id="post_title" type="text" value="{{title}}" size="50" oninput="onContentChanged()">
        </label>
        
        This is a:
        <select name="suggestedLocation" id="suggestedLocation">
            <option
                value="blog"
                pogon-selected="{{suggestedLocation}}">Blog Entry</option>
            {{#each staticPages}}
                <option
                    value="{{this}}"
                    pogon-selected="{{../suggestedLocation}}">{{this}}</option>
            {{/each}}
            <option
                value="index"
                pogon-selected="{{suggestedLocation}}">Index / Landing page</option>
        </select>
        
        <span id="oldVersionPublished"{{#unless draftIsOutdated}} hidden{{/unless}}><br />WARNING: An older version is published</span>

        <hr >

        <div id="content">{{{content}}}</div>

        <div id="saved">Saved</div>
        <div id="saving" hidden>Saving...</div>
        <div id="error" hidden></div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.4.25/jodit.min.js"></script>
    </body>
</html>