<!DOCTYPE html>
<html>
    <head>
        <title>Editing: {{title}}</title>
        <script>
            const postId = '{{postId}}';
        </script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.4.25/jodit.min.css">
        <script src="/javascripts/edit.js"></script>
        <link rel="stylesheet" href="/stylesheets/edit.css">
    </head>

    <body>
        <pogon_component name="postTopBar.component.html"></pogon_component>

        <h1>Editing...</h1>
        <br />

        <label>
            Title: &nbsp;<input id="post_title" type="text" value="{{title}}" size="100" oninput="onContentChanged()"><br />
        </label>
        
        This is a:<br />
            <input
                type="radio"
                class="suggestedLocationInput"
                name="suggestedLocation"
                value="blog"
                pogon-checked="{{suggestedLocation}}"
                onchange="onContentChanged()">
            <label for="blog">Blog entry</label>
            {{#each staticPages}}
                <input
                    type="radio"
                    class="suggestedLocationInput"
                    name="suggestedLocation"
                    value="{{this}}"
                    pogon-checked="{{../suggestedLocation}}"
                    onchange="onContentChanged()">
                <label for="{{this}}">{{this}}</label>
            {{/each}}
            <input
                type="radio"
                class="suggestedLocationInput"
                name="suggestedLocation"
                value="index"
                pogon-checked="{{suggestedLocation}}"
                onchange="onContentChanged()">
            <label for="index">Index / Landing page</label>
        
        <span id="oldVersionPublished"{{#unless draftIsOutdated}} hidden{{/unless}}>WARNING: An older version is published</span>

        <hr >

        <div id="content">{{{content}}}</div>

        <div id="saved">Saved</div>
        <div id="saving" hidden>Saving...</div>
        <div id="error" hidden></div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.4.25/jodit.min.js"></script>
    </body>
</html>