<!DOCTYPE html>
<html>
    <head>
        <title>Editing: {{title}}</title>
        <script>
            const postId = '{{postId}}';
        </script>
        <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/balloon-block/ckeditor.js"></script>
        <script src="/javascripts/edit.js"></script>
        <link rel="stylesheet" href="/stylesheets/edit.css">
    </head>

    <body>
        <pogon_component name="postTopBar.component.html"></pogon_component>

        <h1>Editing...</h1>
        <br />

        <label>
            Title: &nbsp;<input id="post_title" type="text" value="{{title}}" size="100" oninput="onContentChanged()"><br />
        </label>
        
        This is a:<br />
            <input
                type="radio"
                class="suggestedLocationInput"
                name="suggestedLocation"
                value="blog"
                pogon-checked="{{suggestedLocation}}"
                onchange="onContentChanged()">
            <label for="blog">Blog entry</label>
            {{#each staticPages}}
                <input
                    type="radio"
                    class="suggestedLocationInput"
                    name="suggestedLocation"
                    value="{{this}}"
                    pogon-checked="{{../suggestedLocation}}"
                    onchange="onContentChanged()">
                <label for="blog">{{this}}</label>
            {{/each}}
            <input
                type="radio"
                class="suggestedLocationInput"
                name="suggestedLocation"
                value="index"
                pogon-checked="{{suggestedLocation}}"
                onchange="onContentChanged()">
            <label for="blog">Index / Landing page</label>
        
        <span id="oldVersionPublished"{{#unless draftIsOutdated}} hidden{{/unless}}>WARNING: An older version is published</span>

        <hr >

        <div id="content">{{{content}}}</div>
        <textarea id="contentHtml" hidden></textarea>

        <form>
            <label>
                <input type="radio" name="editorType" value="wysiwyg" id="editorType_wysiwyg" checked>
                WYSIWYG
            </label>
            <label>
                <input type="radio" name="editorType" value="html" id="editorType_HTML">
                HTML
            </label>
        </form>

        <div id="saved">Saved</div>
        <div id="saving" hidden>Saving...</div>
        <div id="error" hidden></div>
    </body>
</html>