<!DOCTYPE html>
<html pogon-template="z3template.html">

	<head>
		<title>Login to blog</title>
	</head>

	<body>
        <h1>Login</h1>
        <form method="post">
            <label for="password">Password:</label>&nbsp;
            <input type="password" id="password" name="password">
            {{#if wrongPassword}}            
                <span class="wrongPassword">Wrong Password:</span>&nbsp;
            {{/if}}
            <br />
            <input type="submit" value="Login">
        </form>
	</body>

</html>
