<!DOCTYPE html>
<html>

	<head>
        <link rel="stylesheet" href="https://unpkg.com/ilyabirman-likely@2/release/likely.min.css">
        <script src="https://unpkg.com/ilyabirman-likely@2/release/likely.min.js"></script>
    </head>

	<body>
        <div class="likely">
            <div class="facebook">Share</div>
            <div class="twitter">Tweet</div>
            <div class="vkontakte">Share</div>
            <div class="pinterest">Pin</div>
            <div class="odnoklassniki">Like</div>
            <div class="telegram">Send</div>
            <div class="linkedin">Share</div>
            <div class="whatsapp">Send</div>
            <div class="viber">Send</div>
            <div class="reddit">Share</div>
        </div>
    </body>

</html>