:root {
    --main-bg-color: rgba(255, 255, 255, 0.9);
    --title-color: rgb(200,247,156);
    --title-color-active: rgb(255, 255, 255);
    --link-color: rgb(50,97,6);
    --link-color-visited: rgb(97,50,6);
    --link-color-active: rgb(100,147,056);
    --background-image: url(/templates/built-in/clover.jpg)
}

body {
    font-family: Helvetica, Arial, sans-serif;
}