:root {
    --main-bg-color: rgba(255, 255, 255, 0.9);
    --title-color: rgb(201,195,181);
    --title-color-active: rgb(255, 255, 255);
    --link-color: rgb(63,94,4);
    --link-color-visited: rgb(109,105,28);
    --link-color-active: rgb(113,144,54);
    --background-image: url(/templates/built-in/dandilions.jpg)
}

body {
    font-family: Helvetica, Arial, sans-serif;
}