:root {
    --main-bg-color: rgba(255, 255, 255, 0.9);
    --title-color: rgb(255, 255, 255);
    --title-color-active: rgb(255, 255, 255);
    --link-color: rgb(87,95,100);
    --link-color-visited: rgb(112,98,88);
    --link-color-active: rgb(137,145,150);
    --background-image: url(/templates/built-in/rocks.jpg)
}

body {
    font-family: Helvetica, Arial, sans-serif;
}