:root {
    --main-bg-color: rgba(255, 255, 255, 0.9);
    --title-color: rgb(240,245,251);
    --title-color-active: rgb(255, 255, 255);
    --link-color: rgb(62,71,69);
    --link-color-visited: rgb(41,36,18);
    --link-color-active: rgb(112,121,119);
    --background-image: url(/templates/built-in/scaley.jpg)
}

body {
    font-family: Helvetica, Arial, sans-serif;
}