:root {
    --main-bg-color: rgba(255, 255, 255, 0.9);
    --title-color: rgb(255, 255, 255);
    --title-color-active: rgb(255, 255, 255);
    --link-color: rgb(93,91,104);
    --link-color-visited: rgb(149,135,95);
    --link-color-active: rgb(143,141,154);
    --background-image: url(/templates/built-in/slate.jpg)
}

body {
    font-family: Helvetica, Arial, sans-serif;
}